.DS_Store
/.idea


# 打包生成的文件
/dist
/node_modules
/.eslintcache

/api/node_modules
/api/package-lock.json
compilation-stats.json
.yarn/cache
packagehash.txt
public/bit


# webpack缓存
webpack/profiling
stats.html


pnpm-lock.yaml
package-lock.json