.homePage {
    height: 100%;
    background: #ececec;
    padding-top: 64px;
    box-sizing: border-box;
}
.container {
    margin-left: 250px;
    padding: 25px;
    box-sizing: border-box;
    position: relative;
}
