.container {
  padding: 20px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.operations {
  display: flex;
}


.table-demo-editable-cell .editable-row .editable-cell {
  display: inline-block;
  padding: 5px 11px;
}

.table-demo-editable-cell .editable-row .editable-cell:hover {
  border-radius: 4px;
  border: 1px solid var(--color-border);
  padding: 4px 10px;
}